{% extends "base.html" %}
{% block app_content %}

<h1>Beats available for Lease</h1>


<table class="table table-dark">
        <thead>
            <br>
            <tr>
            {% for col in cols %}
                <th class = 'muscol' scope="col">{{ col }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for song in songs %}
            <tr>
                <td>{{song.name}} </td>
                <td> 
                    <audio controls oncontextmenu="return false;" controlsList="nodownload">
                    <source src="https://s3.amazonaws.com/laneck/{{song.location}}">
                    </audio>                                   
                </td>                                           
                <td>Contact {{song.user.email}} for licensing rights</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}